.side-view {
    max-width: 350px;
    margin: 30px 15px;
}

.side-flex {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.side-btn {
    width: 50%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #667eea;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: monospace;
    background-color: #fff;
    transition: all 200ms ease-in-out;
}

.side-btn:hover {
    color: #fff;
    background-color: #764ba2;
    border-radius: 1px solid #fff;
}

.sponsored {
    width: 50%;
    text-align: center;
    font-family: monospace;
    margin-top: 40px;
}

.sponsored a {
    opacity: 0.6;
    color: #fff;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.sponsored a:hover {
    text-decoration: overline;
}