* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: #fff;
    max-width: 700px;
    font-family: monospace;
    background-color: hsl(271, 71%, 66%);
}

li {
    list-style: none;
}
